<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{% if pagetitle %}{{ pagetitle }} &mdash; {% endif %}My University PRoject</title>

</head>
<body class="light">
{% block body %}
	<div class="container main">
		<main role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>
{% endblock %}
</body>
</html>
